.nav {
  word-spacing: 22px;
  letter-spacing: 0.33px;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 35px;
  text-align: left;
  margin: 0 auto;
  padding: 0 30px;
  color: #ffffff;
  font-weight: 400;
}

.nav-item {
  display: inline-block;
  text-decoration: none;
  margin: 0, 10px;
  color: #ffffff;
}
.nav-item:hover {
  text-decoration: underline;
  color: #00e0d0;
}

.nav-item.is-active {
  color: #00e0d0;
  text-decoration: none;
}

.nav-footer {
  padding: 0;
  margin: 0;
  word-spacing: 5px;
}